<article fxFlex="50%">
    <h2>welcome to<br>AT&T IoT platform</h2>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</article>
<div id="wrap-subview" fxFlex="50%" fxLayout="column">
    <div fxFlex> <!-- @TODO, Flex temp element -->
        <router-outlet></router-outlet>
    </div>
    <app-footer fxFlex="160px" fxFlexAlign="baseline"></app-footer>
</div>